<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="asserts/js/dashboard.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="asserts/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="asserts/css/bootstrap.min.css" />

<script src="asserts/js/echarts.min.js"></script>
<script>
    function sub_() {
        var val1 = $("#sel1 option:selected").text();
        $.ajax({
            type: 'post',
            url: '/book/findTopTen',
            dataType: 'json',
            success: function (data) {
                var arr1 = [];
                for(var i=0;i<data.length;i++){
                    var arr2 = [];
                    for(var j=0;j<data[i].length;j++){
                        arr2.push(data[i][j].ranking);
                    }
                    arr1.push(arr2);
                }
                var dom = document.getElementById("container");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;


                option = {
                    title : {
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['小熊和最好的爸爸（全7册）','法布尔昆虫记（全10册）（儿童彩图版）','月亮的味道','斯凯瑞金色童书・第一辑（全4册）','小兔汤姆系列（第一辑）（全六册 ）','信谊世界精选图画书・爷爷一定有办法','青蛙弗洛格的成长故事（第一辑 全12册）','牧羊少年奇幻之旅（精装）','小熊宝宝绘本（全15册）','家常菜精选1288例：现代人']
                    },
                    toolbox: {
                        show : false,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'小熊和最好的爸爸（全7册）',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[0]
                        },
                        {
                            name:'法布尔昆虫记（全10册）（儿童彩图版）',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[1]
                        },
                        {
                            name:'月亮的味道',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[2]
                        },
                        {
                            name:'斯凯瑞金色童书・第一辑（全4册）',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[3]
                        },
                        {
                            name:'小兔汤姆系列（第一辑）（全六册 ）',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[4]
                        },
                        {
                            name:'信谊世界精选图画书・爷爷一定有办法',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[5]
                        },
                        {
                            name:'青蛙弗洛格的成长故事（第一辑 全12册）',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[6]
                        },
                        {
                            name:'牧羊少年奇幻之旅（精装）',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[7]
                        },
                        {
                            name:'小熊宝宝绘本（全15册）',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[8]
                        },
                        {
                            name:'家常菜精选1288例：现代人',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:arr1[9]
                        }
                    ]
                };

                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }


            }
        });
    }

    $(document).ready(function () {
        sub_();
    })


</script>



<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="height: 48px;">
    <div><font style="color: white;margin-left: 20px;">大数据</font></div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/book/bookPriceShare">
                            <!--<span data-feather="home"></span>-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            年份价格分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/findAllYearAndCategory">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            每年欢迎度前三
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/book/findYearAndCategory1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            书籍类别评论分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/findYearAndCategory1?flag=1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            书籍年份评论分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/book/findTopTen_">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            书籍前十分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/findRatioByYearAndCategory_">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            图书top榜分析
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">书籍前十分析</h1>
            </div>




            <div id="container" style="width: 1000px;height:500px; margin-left: 20px;"></div>


        </main>
    </div>
</div>

</body>
</html>