<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="asserts/js/dashboard.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="asserts/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="asserts/css/bootstrap.min.css" />

<script src="asserts/js/echarts.min.js"></script>
<script>
    function sub_() {
        var val1 = $("#sel1 option:selected").text();
        var val2 = $("#sel2 option:selected").text();
        $.ajax({
            type: 'post',
            url: '/book/selectTopThreeBookByYear',
            dataType: 'json',
            data: {year: val1, category: val2},
            success: function (data) {
                for(var i=0;i<3;i++){
                    // alert(data[i].bookName)
                    $("#img"+i).attr("src",data[i].image)
                    $("#inp1_"+i).val(data[i].bookName);
                    $("#inp2_"+i).val("作者："+data[i].author);
                    $("#inp3_"+i).val("价格："+data[i].currentPrice);
                }

            }
        });
    }

    $(document).ready(function () {
        sub_();
    })
</script>

<style>
    input{
        border:none;
        max-width:300px;
        text-align: center
    }
</style>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="height: 48px;">
    <div><font style="color: white;margin-left: 20px;">大数据</font></div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link" href="/book/bookPriceShare">
                            <!--<span data-feather="home"></span>-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            年份价格分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/book/findAllYearAndCategory">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            每年欢迎度前三
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/findYearAndCategory1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            书籍类别评论分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/findYearAndCategory1?flag=1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            书籍年份评论分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/findTopTen_">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            书籍前十分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/findRatioByYearAndCategory_">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            图书top榜分析
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">每年欢迎度前三</h1>
            </div>


            <select id="sel1" onchange="sub_()">
                <option th:each="year:${list.get(0)}">[[${year}]]</option>
            </select>
            <select id="sel2" onchange="sub_()">
                <option th:each="categoryName:${list.get(1)}">[[${categoryName}]]</option>
            </select>

            <div class="container" style="margin-top: 50px;">
                <div class="row clearfix text-center">
                    <div class="col-md-12 column">
                        <div class="row clearfix">
                            <div class="col-md-4 column item text-center">
                                <img src="http://img3m0.ddimg.cn/9/27/22880790-1_l_2.jpg" style="width:200px;" id="img0"><br/>
                                <input type="text" value="" readonly="readonly" id="inp1_0"><br/>
                                <input type="text" value="" readonly="readonly" id="inp2_0"><br/>
                                <input type="text" value="" readonly="readonly" id="inp3_0"><br/>

                            </div>
                            <div class="col-md-4 column item text-center">
                                <img src="http://img3m0.ddimg.cn/9/27/22880790-1_l_2.jpg" style="width:200px;" id="img1"><br/>
                                <input type="text" value="" readonly="readonly" id="inp1_1"><br/>
                                <input type="text" value="" readonly="readonly" id="inp2_1"><br/>
                                <input type="text" value="" readonly="readonly" id="inp3_1"><br/>
                            </div>
                            <div class="col-md-4 column item text-center">
                                <img src="http://img3m0.ddimg.cn/9/27/22880790-1_l_2.jpg" style="width:200px;" id="img2"><br/>
                                <input type="text" value="" readonly="readonly" id="inp1_2"><br/>
                                <input type="text" value="" readonly="readonly" id="inp2_2"><br/>
                                <input type="text" value="" readonly="readonly" id="inp3_2"><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
</div>

</body>
</html>