<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jmu.book.dao.BookPriceShareMapper" >
  <resultMap id="BaseResultMap" type="com.jmu.book.entity.BookPriceShare" >
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="percent1" property="percent1" jdbcType="VARCHAR" />
    <result column="percent2" property="percent2" jdbcType="VARCHAR" />
    <result column="percent3" property="percent3" jdbcType="VARCHAR" />
    <result column="percent4" property="percent4" jdbcType="VARCHAR" />
    <result column="percent5" property="percent5" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.jmu.book.entity.BookPriceShare" >
    insert into tb_book_price_share (year, category_name, percent1, 
      percent2, percent3, percent4, 
      percent5)
    values (#{year,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{percent1,jdbcType=VARCHAR}, 
      #{percent2,jdbcType=VARCHAR}, #{percent3,jdbcType=VARCHAR}, #{percent4,jdbcType=VARCHAR}, 
      #{percent5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jmu.book.entity.BookPriceShare" >
    insert into tb_book_price_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="year != null" >
        year,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="percent1 != null" >
        percent1,
      </if>
      <if test="percent2 != null" >
        percent2,
      </if>
      <if test="percent3 != null" >
        percent3,
      </if>
      <if test="percent4 != null" >
        percent4,
      </if>
      <if test="percent5 != null" >
        percent5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="percent1 != null" >
        #{percent1,jdbcType=VARCHAR},
      </if>
      <if test="percent2 != null" >
        #{percent2,jdbcType=VARCHAR},
      </if>
      <if test="percent3 != null" >
        #{percent3,jdbcType=VARCHAR},
      </if>
      <if test="percent4 != null" >
        #{percent4,jdbcType=VARCHAR},
      </if>
      <if test="percent5 != null" >
        #{percent5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectAllYear" resultType="String">
    select distinct (year) from tb_book_price_share order by YEAR asc
  </select>

  <select id="selectAllCategoryName" resultType="String">
    select distinct (category_name) from tb_book_price_share
  </select>

  <select id="selectBookPriceShareByYearAndCategoryName" resultType="com.jmu.book.entity.BookPriceShare">
    select * from tb_book_price_share where year=#{year} and category_name=#{categoryName}
  </select>

</mapper>