<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jmu.book.dao.BookTopMapper" >
  <resultMap id="BaseResultMap" type="com.jmu.book.entity.BookTop" >
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="list_num" property="listNum" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="comment_num" property="commentNum" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
    <result column="publish" property="publish" jdbcType="VARCHAR" />
    <result column="current_price" property="currentPrice" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="VARCHAR" />
    <result column="ebook_price" property="ebookPrice" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMap1" type="com.jmu.book.entity.BookRank" >
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="list_num" property="ranking" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findTopTenBookName" resultType="String">
    select book_name from tb_book_top group by book_name ORDER BY count(Book_name) DESC,book_name DESC LIMIT 10;
  </select>

  <select id="findTopTenCount" resultType="String" parameterType="String">
    select count(book_name) from tb_book_top where book_name = #{bookName}
  </select>

  <select id="bookAllRank" resultMap="BaseResultMap1" resultType="com.jmu.book.entity.BookRank" parameterType="String">
    select book_name,year,list_num from tb_book_top where book_name = #{bookName} order by year asc
  </select>
</mapper>